<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <h5><span>Covid-19</span> Safety</h5>
        <div class="row">
            <div class="card" style="width: 38rem;min-width: 100%;">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-8">
                                <img src="https://cdn.clipart.email/4cb3989ce39b7efd1ca581ef16eefe19_onlinelabels-clip-art-wash-wash-your-hands-clipart-png-_2222-2397.png" width="100" height="100" style="margin-bottom: 20px; margin-left: 20px;">
                                <p class="card-text">Wash your hands for at least 20 seconds</p>
                            </div>
                            <div class="col-md-2">

                            </div>
                        </div>
                        

                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-8">
                                <img src="https://cdn1.iconfinder.com/data/icons/bathroom-accessories-1/50/4-512.png" width="100" height="100" style="margin-bottom: 20px; margin-left: 20px;">
                                <p class="card-text">Disinfect surfaces around your work & home</p>
                            </div>
                            <div class="col-md-2">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-8">
                                <img src="https://cdn.clipart.email/690fe671cd8a9261bf3ddb80d01e153f_elbow-clipart-cough-elbow-cough-transparent-free-for-download-on-_2480-2480.png" width="100" height="100" style="margin-bottom: 20px; margin-left: 20px;">
                                <p class="card-text">Sneeze or Cough? Cover your mouth</p>
                            </div>
                            <div class="col-md-2">

                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
         
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>