<h5><span>Emergency</span> Contact</h5>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-8">
                            <h1>Coronavirus Hotline</h1>
                            <p>0800 029 999</p>
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-8">
                            <h1>Coronavirus Whatsapp</h1>
                            <p>0600 123 456</p>
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-8">
                            <h1>National Crisis Line</h1>
                            <p>0861 322 322</p>
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-8">
                            <h1>Women Abuse Helpline</h1>
                            <p>0800 333 177</p>
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-8">
                            <h1>Family Violence Helpline</h1>
                            <p>0800 150 150</p>
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-8">
                            <h1>Child line</h1>
                            <p>0800 055 055</p>
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-8">
                            <h1>Reporting price increase</h1>
                            <p>0800 141 880</p>
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>