
<div class="div" id="#2">
    <h2><span>Country</span> Statistics</h2>
    <div class="row">
        <div class="col-md-2">
    
        </div>
        <div class="col-md-8">
            <div *ngIf="info">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
    
                            </div>
                            <div class="col-md-8">
                                <h3 class="card-title">
                                    <a>
                                        <h1>{{info.country}}</h1>
                                    </a>
                                </h3>
                            </div>
                            <div class="col-md-2">
    
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-md-2">
    
                            </div>
                            <div class="col-md-8">
                                <h6>Current Active Cases:</h6>
                                <p>{{info.active | number}}</p>
                            </div>
                            <div class="col-md-2">
    
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-2">
    
                                    </div>
                                    <div class="col-md-8">
                                        <h6>Total Number Cases:</h6>
                                        <p>{{info.cases | number}}</p>
                                    </div>
                                    <div class="col-md-2">
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
    
                                    </div>
                                    <div class="col-md-8">
                                        <h6>Total Cases Recovered:</h6>
                                        <p>{{info.recovered | number}}</p>
                                    </div>
                                    <div class="col-md-2">
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
    
                                    </div>
                                    <div class="col-md-8">
                                        <h6>Total Number Deaths:</h6>
                                        <p>{{info.deaths | number}}</p>
                                    </div>
                                    <div class="col-md-2">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-2">
    
                                    </div>
                                    <div class="col-md-8">
                                        <h6>Total Cases Today:</h6>
                                        <p>{{info.todayCases | number}}</p>
                                    </div>
                                    <div class="col-md-2">
    
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
    
                                    </div>
                                    <div class="col-md-8">
                                        <h6>Total Critical Cases</h6>
                                        <p>{{info.critical | number}}</p>
                                    </div>
                                    <div class="col-md-2">
    
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
    
                                    </div>
                                    <div class="col-md-8">
                                        <h6>Total Deaths Today:</h6>
                                        <p>{{info.todayDeaths | number}}</p>
                                    </div>
                                    <div class="col-md-2">
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-md-2">
    
        </div>
    </div>
            
</div>
