
<div class="row">
    <div class="col-md-6">
        <div class="heading">
            <h5>What is <span>Influenza?</span></h5>

            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8 mr-2">
                    <div class="card" style="width: 27rem; min-width: 100%;">
                        <img src="https://www.stickpng.com/assets/images/5bd08b637aaafa0575d85039.png" style="margin-top: 20px !important;margin: 0 auto;left: 0; right: 0;" width="80" height="100">

                        <div class="card-body">

                          <p class="card-text">Influenza is a viral infection that attacks your respiratory system — your nose, throat and lungs. Influenza is commonly called the flu, but it's not the same as stomach "flu" viruses.</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-2">

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="heading">
            <h5>What is <span>Covid-19?</span></h5>

            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8 mr-2">
                    <div class="card" style="width: 27rem;min-width: 100%;">
                        <img src="https://a.omappapi.com/users/f51ab56e82fa/images/55b8ded81cec1583268204-coronavirus.png" style="margin-top: 20px !important;margin: 0 auto;left: 0; right: 0;" width="100" height="100">
                        <div class="card-body">
                          <p class="card-text"> A Coronavirus is a kind of common virus that causes an infection in your nose, sinuses, or upper throat. They’re called coronaviruses because under a microscope, they look like a crown.</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-2">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <h5><span>Covid-19</span> Symptoms</h5>
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <div class="card" style="width: 38rem;min-width: 100%;">
                    <img src="https://cdn1.iconfinder.com/data/icons/medical-services-set-2/256/6-512.png" style="margin-top: 20px !important;margin: 0 auto;left: 0; right: 0;" width="100" height="100">
                    <div class="card-body">
                      <p class="card-text">People may be sick with the virus for 1 to 14 days before developing symptoms. The most common symptoms of coronavirus disease (COVID-19) are fever, tiredness, and dry cough. Most people (about 80%) recover from the disease without needing special treatment.</p>
                    <p>People may experience:</p>
                      <ul class="a">
                        <li>Cough</li>
                        <li>Fever</li>
                        <li>Tiredness</li>
                        <li>Difficulty Breathing (severe cases)</li>
                      </ul>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>


