.background-image{
    background: url("/assets/image/covid4.png") center center fixed;
    max-width: 100% !important;
    height: 100% !important;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}